@model ProjectManager.Models.ProjectViewModel

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure that you want delete "@Html.DisplayFor(model => model.Title)"?</h3>
<div>
    <h4>Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @if (Model.Category.ToString().Equals("FE"))
            {
                <p>Front-end</p>
            }
            else
            {
                <p>Back-end</p>
            }
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> 
            <a href="@Url.Action("Index", "Projects")" class="btn btn-default">Back to list</a>
        </div>
    }
</div>
