@model ProjectManager.Models.DeveloperViewModel
@{
    ViewBag.Title = "Details";
}
<center>
    <h2>User Account</h2>
    <h6>Information and statistics</h6>
</center>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="alert alert-dismissable>
    <dl class="dl-horizontal">
        <div class="alert alert-warning">
            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>

            <br />

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <br />

            <dt>
                @Html.DisplayNameFor(model => model.Role)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Role)
            </dd>
        </div>

        <hr />
        <h2 class="text-center">Projects Details</h2>
        <br />

        <div class="alert alert-info">
            <dt>
                @if (Model.ID.Equals(Session["ID"]))
                {
                    <a href="@Url.Action("Index", "Projects")">Projects</a>
                }
                else
                {
                    <p>Projects</p>
                }
            </dt>
            <dd>
                @ViewBag.Projects
            </dd>
        </div>

        @if (ViewBag.Projects != 0)
        {
            <div class="alert alert-info">
                <dt>
                    @if (Model.ID.Equals(Session["ID"]))
                    {
                        <a href="@Url.Action("Status", "Projects", new { status = "InProgress" })">In Progress</a>
                    }
                    else
                    {
                        <p>In Progress</p>
                    }
                </dt>
                <dd>
                    @ViewBag.ProjectsInProgress
                </dd>       
            </div>

            <div class="alert alert-info">
                <dt>
                    @if (Model.ID.Equals(Session["ID"]))
                    {
                        <a href="@Url.Action("Status", "Projects", new { status = "Ready" })">Ready</a>
                    }
                    else
                    {
                        <p>Ready</p>
                    }
                </dt>
                <dd>
                    @ViewBag.ProjectsReady
                </dd>
            </div>
        }

        @if (Model.ID.Equals(Session["ID"]))
        {
            <hr />
            <h2 class="text-center">Income Details</h2>
            <br />

            <div class="alert alert-info">
                <strong>Total Incomes:</strong> +@ViewBag.TotalIncomes$
            </div>

            if (ViewBag.TotalIncome != 0)
            {
                <div class="alert alert-danger">
                    <strong>Impost:</strong> -@ViewBag.DDS$
                </div>

                <div class="alert alert-success">
                    <strong>Incomes In Bank:</strong> @ViewBag.Cash$
                </div>
            }
        }
    </dl>
    @if (Session["Role"].ToString().Equals("TeamLeader") && Model.ID != (int)Session["ID"])
    {
        using (Html.BeginForm("Update", "Authentication"))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal hidden">
                @Html.HiddenFor(model => model.ID)
                <div class="form-group">
                    @Html.LabelFor(model => model.ID, "ID", htmlAttributes: new { @class = "control-label col-md-2" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <input type="text" name="Role" value="@ViewBag.RoleValue" />
                    </div>
                </div>
            </div>
            
            <hr />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@ViewBag.SubmitValue" class="btn btn-primary" />
                    <a href="@Url.Action("List", "Projects")" class="btn btn-default">Back</a>
                </div>
                <br />
            </div>
        }
    }
</div>